In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [5]:
dataset = pd.read_csv('/Users/pawankumarkc/Documents/vscode_workspace/MLAlgo/datasets/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data = dataset.sample(frac=0.85, random_state=None).reset_index(drop=True)
data_unseen = dataset.drop(data.index).reset_index(drop=True)

print("data for modeling :", str(data.shape))
print("data for prediction :", str(data_unseen.shape))

data for modeling : (8500, 14)
data for prediction : (1500, 14)

In [7]:
from pycaret.classification import *

ModuleNotFoundError: No module named 'pycaret'

In [ ]:
exp_clf = setup(data=data, target='Exited', session_id=121)

In [ ]:
compare_models()

In [ ]:
et = create_model('et')