In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [11]:
USAHousing = pd.read_csv('USA_Housing.csv')
USAHousing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [13]:
USAHousing['Address'] = USAHousing['Address'].astype('category')
USAHousing['Address'] = USAHousing['Address'].cat.codes

# ANOVA Testing - two way or multiple way anova

In [14]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Price ~ Address', data=USAHousing).fit()
anova_result = sm.stats.anova_lm(model, typ=2)
print(anova_result)

                sum_sq      df         F    PR(>F)
Address   4.729103e+10     1.0  0.379215  0.538051
Residual  6.232883e+14  4998.0       NaN       NaN

In [3]:
#USAHousing = pd.get_dummies(USAHousing, columns=['Address'])

In [8]:
USAHousing.shape

(5000, 7)

In [9]:
USAHousing.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,962
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,863
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,4069
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,4794
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,4736

In [10]:
USAHousing['Address'].describe()

count    5000.000000
mean     2499.500000
std      1443.520003
min         0.000000
25%      1249.750000
50%      2499.500000
75%      3749.250000
max      4999.000000
Name: Address, dtype: float64