In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

from sklearn.metrics import r2_score

In [2]:
#date: 12 Jul
mpg_df = pd.read_csv('/Users/pawankumarkc/Documents/vscodepython/MLAlgo/datasets/auto-mpg.csv')
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
mpg_df = mpg_df.drop('car name', axis=1)
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1

In [4]:
mpg_df['origin'].value_counts()

1    249
3     79
2     70
Name: origin, dtype: int64

In [5]:
mpg_df['origin'] = mpg_df['origin'].replace({1:'America', 2:'Europe', 3:'Asia'})
mpg_df['origin'].value_counts()

America    249
Asia        79
Europe      70
Name: origin, dtype: int64

In [6]:
mpg_df = pd.get_dummies(mpg_df, columns=['origin'])

In [7]:
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_America,origin_Asia,origin_Europe
0,18.0,8,307.0,130,3504,12.0,70,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,1,0,0

In [8]:
#Whenever we do onehot encoding, we need to drop one variable
mpg_df = mpg_df.drop('origin_America', axis=1)

In [9]:
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin_Asia,origin_Europe
0,18.0,8,307.0,130,3504,12.0,70,0,0
1,15.0,8,350.0,165,3693,11.5,70,0,0
2,18.0,8,318.0,150,3436,11.0,70,0,0
3,16.0,8,304.0,150,3433,12.0,70,0,0
4,17.0,8,302.0,140,3449,10.5,70,0,0

In [10]:
mpg_df.isnull().sum()
# No missing values

mpg              0
cylinders        0
displacement     0
horsepower       0
weight           0
acceleration     0
model year       0
origin_Asia      0
origin_Europe    0
dtype: int64

In [12]:
#Finding unique values in columns
for i in mpg_df.columns:
    print('******************************************', i, '*********************************************')
    print()
    print(set(mpg_df[i].to_list()))

****************************************** mpg *********************************************

{9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.5, 27.5, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 29.5, 35.0, 31.5, 36.0, 33.5, 36.1, 39.4, 43.1, 35.7, 37.3, 41.5, 38.1, 46.6, 40.8, 44.3, 43.4, 44.6, 44.0, 14.5, 15.5, 16.5, 16.9, 17.5, 17.6, 18.5, 18.6, 18.1, 19.9, 19.4, 19.1, 20.5, 20.6, 21.5, 21.1, 21.6, 22.5, 22.4, 23.9, 23.6, 23.5, 24.5, 25.4, 25.1, 25.5, 26.4, 26.6, 27.4, 27.9, 28.4, 28.1, 29.9, 30.5, 30.9, 31.9, 31.6, 32.8, 32.1, 32.2, 32.7, 32.4, 33.8, 32.3, 33.7, 32.9, 34.1, 34.2, 34.5, 34.3, 34.7, 35.1, 34.4, 34.0, 36.4, 37.2, 37.0, 37.7, 38.0, 39.1, 39.0, 40.9, 16.2, 17.7, 18.2, 19.2, 19.8, 20.2, 20.8, 20.3, 22.3, 23.2, 23.8, 23.7, 24.3, 24.2, 25.8, 26.8, 27.2, 28.8, 29.8, 30.7, 31.8, 31.3}
****************************************** cylinders *********************************************

{3, 4, 5, 6, 8}
****************************************** displacement *********************************************

{68.0, 70.0, 71.0, 72.0, 76.0, 78.0, 79.0, 80.0, 81.0, 83.0, 85.0, 86.0, 88.0, 89.0, 90.0, 91.0, 96.0, 97.0, 98.0, 97.5, 100.0, 101.0, 104.0, 105.0, 107.0, 108.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 116.0, 119.0, 120.0, 121.0, 122.0, 130.0, 131.0, 134.0, 135.0, 140.0, 141.0, 144.0, 145.0, 146.0, 151.0, 155.0, 156.0, 163.0, 168.0, 171.0, 173.0, 181.0, 183.0, 198.0, 199.0, 200.0, 225.0, 231.0, 232.0, 250.0, 258.0, 260.0, 262.0, 267.0, 302.0, 304.0, 305.0, 307.0, 318.0, 340.0, 350.0, 351.0, 360.0, 383.0, 390.0, 400.0, 429.0, 440.0, 454.0, 455.0}
****************************************** horsepower *********************************************

{'91', '120', '165', '82', '198', '208', '87', '98', '107', '68', '76', '125', '96', '175', '80', '129', '46', '220', '81', '135', '122', '63', '138', '149', '52', '60', '53', '61', '113', '145', '167', '170', '102', '66', '70', '142', '69', '225', '112', '155', '190', '88', '132', '130', '153', '90', '116', '48', '49', '?', '103', '139', '79', '71', '210', '150', '133', '215', '86', '74', '62', '180', '100', '105', '93', '78', '94', '83', '148', '64', '152', '75', '140', '200', '108', '115', '158', '67', '95', '77', '160', '92', '110', '193', '230', '85', '72', '54', '84', '89', '58', '97', '65', '137'}
****************************************** weight *********************************************

{4096, 4098, 2051, 4100, 2050, 2065, 2070, 2074, 2075, 4129, 2085, 4135, 4140, 4141, 2100, 4154, 2108, 2110, 4165, 2120, 2123, 2124, 2125, 2126, 2130, 2135, 4190, 2144, 2145, 2150, 2155, 2158, 2160, 4209, 2164, 4215, 2171, 4220, 2188, 2189, 4237, 2190, 2200, 2202, 2205, 4257, 2210, 2215, 2219, 2220, 2223, 2226, 4274, 2228, 4278, 2230, 2234, 2245, 4294, 2246, 4295, 2254, 2255, 4312, 2264, 2265, 4325, 2278, 2279, 4335, 2288, 2290, 4341, 2295, 2300, 4354, 2310, 4360, 4363, 2320, 4376, 2330, 4380, 4382, 2335, 4385, 2350, 2370, 2372, 4422, 2375, 4425, 2379, 2380, 2385, 2391, 4440, 2395, 2401, 2405, 2408, 4456, 4457, 4464, 2420, 2430, 2434, 4498, 4499, 2451, 4502, 2464, 2472, 2489, 2490, 2500, 2506, 2511, 2515, 2525, 2542, 2545, 2556, 2560, 2565, 4615, 2572, 2575, 2582, 4633, 2585, 2587, 4638, 2592, 2595, 2600, 2605, 4654, 4657, 2615, 4668, 2620, 2625, 2634, 2635, 2639, 2640, 2648, 4699, 2660, 2665, 2670, 2671, 2672, 2678, 4732, 4735, 2694, 4746, 2700, 2702, 2711, 2720, 2725, 2735, 2740, 2745, 2755, 2774, 2789, 2790, 2795, 2800, 2807, 2815, 2830, 2833, 2835, 2855, 4906, 2865, 2868, 2870, 2875, 2890, 2900, 2901, 4951, 4952, 2904, 2905, 4955, 2910, 2914, 2930, 2933, 2945, 4997, 2950, 2957, 2962, 2965, 2979, 2984, 2990, 3003, 3012, 3015, 3021, 3035, 3039, 3060, 3070, 3085, 3086, 5140, 3102, 3121, 3139, 3140, 3150, 3155, 3158, 3160, 3169, 3190, 3193, 3205, 3210, 3211, 3221, 3230, 3233, 3245, 3250, 3264, 3265, 3270, 3278, 3282, 3288, 3302, 3329, 3336, 3353, 3360, 3365, 3380, 3381, 3399, 3410, 3415, 3420, 3425, 3430, 3432, 3433, 3436, 3439, 3445, 3449, 3459, 3465, 3504, 3520, 3525, 3530, 3535, 3563, 3570, 3574, 3605, 3609, 3613, 3620, 3630, 3632, 3645, 3651, 1613, 3664, 3672, 3693, 1649, 3725, 3730, 3735, 3755, 3761, 3777, 3781, 3785, 1755, 1760, 3820, 1773, 3821, 3830, 3840, 1795, 1800, 3850, 3870, 1825, 3880, 1834, 1835, 1836, 3892, 1845, 3897, 1850, 3900, 3907, 1867, 1875, 3940, 3955, 3962, 1915, 1925, 1937, 3988, 1940, 1945, 1950, 1955, 1963, 1965, 1968, 1970, 1975, 1980, 1985, 1990, 4042, 1995, 2000, 2003, 4054, 4055, 4060, 2019, 2020, 2025, 4077, 4080, 4082, 2035, 2045, 2046}
****************************************** acceleration *********************************************

{8.5, 9.0, 10.0, 11.0, 10.5, 13.5, 11.5, 12.0, 8.0, 9.5, 15.0, 15.5, 16.0, 14.5, 20.5, 17.5, 18.5, 19.0, 19.5, 18.0, 23.5, 21.0, 22.2, 22.1, 24.8, 24.6, 12.5, 13.0, 14.0, 16.5, 16.9, 16.4, 16.6, 16.1, 17.0, 17.6, 17.4, 17.9, 17.1, 18.6, 18.1, 19.4, 19.9, 19.6, 20.1, 20.4, 21.9, 21.5, 11.4, 12.9, 13.9, 13.4, 14.4, 14.9, 15.4, 15.9, 11.2, 11.3, 12.8, 12.2, 13.2, 13.7, 13.8, 14.3, 14.2, 14.8, 14.7, 15.2, 15.3, 15.7, 15.8, 16.2, 16.7, 16.8, 17.3, 17.7, 17.8, 17.2, 18.2, 18.7, 18.8, 18.3, 19.2, 20.7, 21.7, 21.8, 23.7, 11.1, 11.6, 12.1, 12.6, 13.6, 14.1, 15.1, 15.6}
****************************************** model year *********************************************

{70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82}
****************************************** origin_Asia *********************************************

{0, 1}
****************************************** origin_Europe *********************************************

{0, 1}

In [15]:
mpg_df = mpg_df.replace('?', np.nan)
mpg_df = mpg_df.apply(lambda x: x.fillna(x.median(), axis=0))

In [16]:
#Seperate independent variable and dependent variable

x = mpg_df.drop('mpg', axis=1)
y = mpg_df[['mpg']]

In [17]:
x.head()

,cylinders,displacement,horsepower,weight,acceleration,model year,origin_Asia,origin_Europe
0,8,307.0,130,3504,12.0,70,0,0
1,8,350.0,165,3693,11.5,70,0,0
2,8,318.0,150,3436,11.0,70,0,0
3,8,304.0,150,3433,12.0,70,0,0
4,8,302.0,140,3449,10.5,70,0,0

In [18]:
y.head()

    mpg
0  18.0
1  15.0
2  18.0
3  16.0
4  17.0

In [ ]:
# Treat outlier - TODO

In [21]:
#Feature scaling
from sklearn.preprocessing import StandardScaler
x_scaled = StandardScaler()
x_scaled = x_scaled.fit_transform(x)
x_scaled = pd.DataFrame(x_scaled, columns=x.columns)

In [23]:
x_scaled

,cylinders,displacement,horsepower,weight,acceleration,model year,origin_Asia,origin_Europe
0,1.498191,1.090604,0.673118,0.630870,-1.295498,-1.627426,-0.497643,-0.461968
1,1.498191,1.503514,1.589958,0.854333,-1.477038,-1.627426,-0.497643,-0.461968
2,1.498191,1.196232,1.197027,0.550470,-1.658577,-1.627426,-0.497643,-0.461968
3,1.498191,1.061796,1.197027,0.546923,-1.295498,-1.627426,-0.497643,-0.461968
4,1.498191,1.042591,0.935072,0.565841,-1.840117,-1.627426,-0.497643,-0.461968
...,...,...,...,...,...,...,...,...
393,-0.856321,-0.513026,-0.479482,-0.213324,0.011586,1.621983,-0.497643,-0.461968
394,-0.856321,-0.925936,-1.370127,-0.993671,3.279296,1.621983,-0.497643,2.164651
395,-0.856321,-0.561039,-0.531873,-0.798585,-1.440730,1.621983,-0.497643,-0.461968
396,-0.856321,-0.705077,-0.662850,-0.408411,1.100822,1.621983,-0.497643,-0.461968
397,-0.856321,-0.714680,-0.584264,-0.296088,1.391285,1.621983,-0.497643,-0.461968

In [22]:
#Split data into train and test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=1)

# Building linear regression model

In [24]:
linear = LinearRegression()
linear.fit(x_train, y_train)

for idx, col_name in enumerate(x_train.columns):
    print("The coeff. for {} is {}".format(col_name, linear.coef_[0][idx]))

The coeff. for cylinders is -0.510727148924759
The coeff. for displacement is 2.4406994641535573
The coeff. for horsepower is -0.6849487368203032
The coeff. for weight is -5.886755316305747
The coeff. for acceleration is 0.2888056095488505
The coeff. for model year is 3.0589637623211514
The coeff. for origin_Asia is 1.072992305702572
The coeff. for origin_Europe is 1.0803661840485703

In [25]:
intercept = linear.intercept_[0]
print("The intercept for liner model is {}".format(intercept))

The intercept for liner model is 23.510190092051925

## Regularization method

In [26]:
## part 1 - Lasso method
# gives exact zero or closer to zero.
# alpha is penalty, for lasso keep it to 0.1 and for Ridge keep it to 0.3
lasso = Lasso(alpha=0.1)
lasso.fit(x_train, y_train)
print('Lasso model : ', lasso.coef_)

# the co.eff is reduced from its earlier values

Lasso model :  [-0.          0.         -0.28819342 -4.80639497  0.04406849  2.86610654
  0.67201844  0.62820971]

In [30]:
linear.coef_

array([[-0.51072715,  2.44069946, -0.68494874, -5.88675532,  0.28880561,
         3.05896376,  1.07299231,  1.08036618]])

In [27]:
lasso.intercept_

array([23.52158927])

In [33]:
# Accuracy of Lasso method
y_pred_train_lasso = lasso.predict(x_train)
y_pred_test_lasso = lasso.predict(x_test)
print('Training accuracy Lasso: ', r2_score(y_train , y_pred_train_lasso))
print('Training accuracy Lasso: ', r2_score(y_test , y_pred_test_lasso))

Training accuracy Lasso:  0.8085089302256353
Training accuracy Lasso:  0.8632534347842027

In [34]:
# Accuracy of Linear method
y_pred_train_linear = linear.predict(x_train)
y_pred_test_linear = linear.predict(x_test)
print('Training accuracy Lasso: ', r2_score(y_train , y_pred_train_linear))
print('Training accuracy Lasso: ', r2_score(y_test , y_pred_test_linear))

Training accuracy Lasso:  0.8143785617196869
Training accuracy Lasso:  0.8647729653026789

In [28]:
## part 2 - Ridge regression(L2 regularization) [Most used]
# closer to zero, but not exactly zero.

ridge = Ridge(alpha=0.3)
ridge.fit(x_train, y_train)
print('Ridge model : ', ridge.coef_)

Ridge model :  [[-0.48568005  2.3423919  -0.69387387 -5.81972716  0.27582324  3.05010754
   1.0663768   1.06964322]]

In [29]:
linear.coef_

array([[-0.51072715,  2.44069946, -0.68494874, -5.88675532,  0.28880561,
         3.05896376,  1.07299231,  1.08036618]])

In [31]:
y_pred_train_ridge = ridge.predict(x_train)
y_pred_test_ridge = ridge.predict(x_test)

In [32]:
print('Training accuracy: ', r2_score(y_train , y_pred_train_ridge))
print('Training accuracy: ', r2_score(y_test , y_pred_test_ridge))

Training accuracy:  0.8143682953093296
Training accuracy:  0.8648106635132775