In [1]:
import os
import getpass
from langchain_community.utilities.sql_database import SQLDatabase

In [4]:
#uri = 'mssql+pyodbc://DBUsername:DBPassword@ServerName:Port/DBName?driver=ODBC+Driver+17+for+SQL+Server'

uri = 'mssql+pyodbc://readonlylogin:1234ASDF89!0@aidataengg2.database.windows.net/aiforall_adventureworks?driver=ODBC+Driver+17+for+SQL+Server'
db = SQLDatabase.from_uri(uri)
print(db.dialect)

mssql

In [5]:
print(db.get_usable_table_names())

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [6]:
print(db.run("SELECT top 10 * FROM Artist"))

[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]

In [8]:
os.environ["OPENAI_API_KEY"] = getpass.getpass()

In [9]:
from langchain.chains import create_sql_query_chain
from langchain_openai import ChatOpenAI

llm = ChatOpenAI(model='gpt-3.5-turbo', temperature=0)
chain = create_sql_query_chain(llm=llm, db=db)
response = chain.invoke({'question':'How many employees are there?'})
response

'SELECT COUNT([EmployeeId]) AS NumberOfEmployees\nFROM [Employee]'

In [10]:
db.run(response)

'[(8,)]'

In [11]:
chain.get_prompts()[0].pretty_print()

You are an MS SQL expert. Given an input question, first create a syntactically correct MS SQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the TOP clause as per MS SQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in square brackets ([]) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CAST(GETDATE() as date) function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [12]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
write_query = create_sql_query_chain(llm=llm, db=db)
chain = write_query | execute_query
chain.invoke({'question':'How many employees are there?'})

'[(8,)]'

In [13]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough


answer_prompt = PromptTemplate.from_template(
    """ Given the following user question, corresponding SQL query, and SQL result, answer the user question.
Question: {question}
SQL Query : {query}
SQL Result : {result}
Answer: """
)

answer = answer_prompt | llm | StrOutputParser()
chain = ( RunnablePassthrough.assign(query = write_query).assign(
    result = itemgetter('query') | execute_query
) | answer
)

chain.invoke({'question':'How many employees are there in our organisation?'})

'There are 8 employees in our organisation.'

In [13]:
chain.invoke({'question':'How many Sales Support Agents are there in our organisation?'})

'There are 3 Sales Support Agents in our organisation.'

In [14]:
chain.invoke({'question':'List 5 top spenders along with their total shoppping amount and billing city'})

"The top 5 spenders along with their total shopping amount and billing city are:\n1. Helena Holý from Prague with a total amount of $49.62\n2. Richard Cunningham from Fort Worth with a total amount of $47.62\n3. Luis Rojas from Santiago with a total amount of $46.62\n4. Hugh O'Reilly from Dublin with a total amount of $45.62\n5. Ladislav Kovács from Budapest with a total amount of $45.62"

In [16]:
chain.invoke({'question':'List 5 top spenders along with their total shoppping amount and billing city along with sql query?'})

"The top 5 spenders along with their total shopping amount and billing city are as follows:\n1. Helena Holý from Prague with a total amount of 49.62\n2. Richard Cunningham from Fort Worth with a total amount of 47.62\n3. Luis Rojas from Santiago with a total amount of 46.62\n4. Hugh O'Reilly from Dublin with a total amount of 45.62\n5. Ladislav Kovács from Budapest with a total amount of 45.62"

## Using SQL Agents

In [18]:
from langchain_community.agent_toolkits import create_sql_agent

agent_executor = create_sql_agent(llm, db=db, agent_type='openai-tools', verbose=True)
agent_executor.invoke({
    "input": "List the total sales per country. Which country's customers spent the most?"
})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'Customer, Invoice, InvoiceLine'}`



CREATE TABLE [Customer] (
	[CustomerId] INTEGER NOT NULL,
	[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Company] NVARCHAR(80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address] NVARCHAR(70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[State] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PostalCode] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(24) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Fax] NVARCHAR(24) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] NVARCHAR(60) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SupportRepId] INTEGER NULL,
	CONSTRAINT [PK_Customer] PRIMARY KEY ([CustomerId]),
	CONSTRAINT [FK__Customer__Suppor__71D1E811] FOREIGN KEY([SupportRepId]) REFERENCES [Employee] ([EmployeeId])
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE [InvoiceLine] (
	[InvoiceLineId] INTEGER NOT NULL,
	[InvoiceId] INTEGER NOT NULL,
	[TrackId] INTEGER NOT NULL,
	[UnitPrice] NUMERIC(10, 2) NOT NULL,
	[Quantity] INTEGER NOT NULL,
	CONSTRAINT [PK_InvoiceLine] PRIMARY KEY ([InvoiceLineId]),
	CONSTRAINT [FK__InvoiceLi__Invoi__00200768] FOREIGN KEY([InvoiceId]) REFERENCES [Invoice] ([InvoiceId]),
	CONSTRAINT [FK__InvoiceLi__Track__01142BA1] FOREIGN KEY([TrackId]) REFERENCES [Track] ([TrackId])
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE [Invoice] (
	[InvoiceId] INTEGER NOT NULL,
	[CustomerId] INTEGER NOT NULL,
	[InvoiceDate] DATETIME NOT NULL,
	[BillingAddress] NVARCHAR(70) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCity] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingState] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingCountry] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BillingPostalCode] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Total] NUMERIC(10, 2) NOT NULL,
	CONSTRAINT [PK_Invoice] PRIMARY KEY ([InvoiceId]),
	CONSTRAINT [FK__Invoice__Custome__76969D2E] FOREIGN KEY([CustomerId]) REFERENCES [Customer] ([CustomerId])
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/
Invoking: `sql_db_query` with `SELECT BillingCountry AS Country, SUM(Total) AS TotalSales FROM Invoice GROUP BY BillingCountry ORDER BY TotalSales DESC`


[('USA', Decimal('523.06')), ('Canada', Decimal('303.96')), ('France', Decimal('195.10')), ('Brazil', Decimal('190.10')), ('Germany', Decimal('156.48')), ('United Kingdom', Decimal('112.86')), ('Czech Republic', Decimal('90.24')), ('Portugal', Decimal('77.24')), ('India', Decimal('75.26')), ('Chile', Decimal('46.62')), ('Ireland', Decimal('45.62')), ('Hungary', Decimal('45.62')), ('Austria', Decimal('42.62')), ('Finland', Decimal('41.62')), ('Netherlands', Decimal('40.62')), ('Norway', Decimal('39.62')), ('Sweden', Decimal('38.62')), ('Spain', Decimal('37.62')), ('Poland', Decimal('37.62')), ('Italy', Decimal('37.62')), ('Belgium', Decimal('37.62')), ('Argentina', Decimal('37.62')), ('Australia', Decimal('37.62')), ('Denmark', Decimal('37.62'))]The total sales per country are as follows:
1. USA: $523.06
2. Canada: $303.96
3. France: $195.10
4. Brazil: $190.10
5. Germany: $156.48

The country whose customers spent the most is the USA with a total sales amount of $523.06.

> Finished chain.

{'input': "List the total sales per country. Which country's customers spent the most?",
 'output': 'The total sales per country are as follows:\n1. USA: $523.06\n2. Canada: $303.96\n3. France: $195.10\n4. Brazil: $190.10\n5. Germany: $156.48\n\nThe country whose customers spent the most is the USA with a total sales amount of $523.06.'}

In [19]:
agent_executor.invoke({'input':'Describe the playlisttrack table'})

> Entering new SQL Agent Executor chain...

Invoking: `sql_db_list_tables` with ``


Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track
Invoking: `sql_db_schema` with `{'table_names': 'PlaylistTrack'}`



CREATE TABLE [PlaylistTrack] (
	[PlaylistId] INTEGER NOT NULL,
	[TrackId] INTEGER NOT NULL,
	CONSTRAINT [PK_PlaylistTrack] PRIMARY KEY ([PlaylistId], [TrackId]),
	CONSTRAINT [FK__PlaylistT__Playl__05D8E0BE] FOREIGN KEY([PlaylistId]) REFERENCES [Playlist] ([PlaylistId]),
	CONSTRAINT [FK__PlaylistT__Track__06CD04F7] FOREIGN KEY([TrackId]) REFERENCES [Track] ([TrackId])
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	1
8	1
17	1
*/The `PlaylistTrack` table has the following columns:
- PlaylistId (INTEGER, NOT NULL)
- TrackId (INTEGER, NOT NULL)

It also has the following constraints:
- Primary Key: PlaylistId, TrackId
- Foreign Key: PlaylistId references Playlist(PlaylistId)
- Foreign Key: TrackId references Track(TrackId)

Here are 3 sample rows from the `PlaylistTrack` table:
- PlaylistId: 1, TrackId: 1
- PlaylistId: 8, TrackId: 1
- PlaylistId: 17, TrackId: 1

> Finished chain.

{'input': 'Describe the playlisttrack table',
 'output': 'The `PlaylistTrack` table has the following columns:\n- PlaylistId (INTEGER, NOT NULL)\n- TrackId (INTEGER, NOT NULL)\n\nIt also has the following constraints:\n- Primary Key: PlaylistId, TrackId\n- Foreign Key: PlaylistId references Playlist(PlaylistId)\n- Foreign Key: TrackId references Track(TrackId)\n\nHere are 3 sample rows from the `PlaylistTrack` table:\n- PlaylistId: 1, TrackId: 1\n- PlaylistId: 8, TrackId: 1\n- PlaylistId: 17, TrackId: 1'}