In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import load_digits

In [2]:
dataset = pd.read_csv('/Users/pawankumarkc/Documents/vscode_workspace/MLAlgo/datasets/Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
dataset['Exited'].value_counts()

#Imbalanced data

0    7963
1    2037
Name: Exited, dtype: int64

In [4]:
dataset = dataset.iloc[:,3:]
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
dataset.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [8]:
dataset = pd.get_dummies(dataset, columns=['Geography','Gender'], drop_first=True)

In [9]:
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [13]:
## Split the data into dep and ind variable

x = dataset.drop(['Exited'], axis=1) 
y = dataset[['Exited']]

In [15]:
# Balance the data

from imblearn.over_sampling import SMOTE
smote = SMOTE()
x_smote, y_smote = smote.fit_resample(x, y)
print(y.value_counts())
print(y_smote.value_counts())

Exited
0         7963
1         2037
dtype: int64
Exited
0         7963
1         7963
dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_smote, y_smote, test_size=0.25, random_state=101)

In [17]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense, Dropout, BatchNormalization

In [19]:
x.shape

(10000, 11)

In [21]:
# Multi layer preceptron

model = Sequential()
model.add(Dense(32, activation='relu',kernel_regularizer=keras.regularizers.L2(0.03), input_dim=11, kernel_initializer='he_normal'))
model.add(Dropout(0.5))
model.add(BatchNormalization())

model.add(Dense(32, activation='relu', kernel_regularizer=keras.regularizers.L2(0.03), kernel_initializer='he_normal'))
model.add(Dropout(0.5))
model.add(BatchNormalization())

model.add(Dense(1, activation='sigmoid'))

model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 32)                384

 dropout_2 (Dropout)         (None, 32)                0

 batch_normalization_2 (Bat  (None, 32)                128
 chNormalization)

 dense_4 (Dense)             (None, 32)                1056

 dropout_3 (Dropout)         (None, 32)                0

 batch_normalization_3 (Bat  (None, 32)                128
 chNormalization)

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 1729 (6.75 KB)
Trainable params: 1601 (6.25 KB)
Non-trainable params: 128 (512.00 Byte)
_________________________________________________________________

In [22]:
model.get_weights()

[array([[ 0.04503708, -0.6734913 ,  0.678027  , -0.49905542, -0.31851572,
          0.796708  , -0.14913155, -0.58703357,  0.51083094, -0.45684192,
          0.1533386 , -0.4644907 , -0.4435257 , -0.608214  ,  0.00346696,
         -0.4436048 , -0.75879055,  0.10924438, -0.3491522 , -0.9213422 ,
          0.68189335,  0.78235763, -0.0838723 , -0.00746389, -0.30139804,
         -0.40382287,  0.3115964 ,  0.01014484,  0.5991299 , -0.1468734 ,
          0.20460491, -0.76793474],
        [-0.66952085,  0.65255094, -0.6798052 ,  0.21515581, -0.7898342 ,
          0.26504737,  0.06494351, -0.40577775,  0.21561325, -0.5422905 ,
         -0.29254603,  0.6956811 , -0.06266653,  0.32070553, -0.32673153,
         -0.20136395,  0.24442363,  0.7540886 ,  0.09994335,  0.09731679,
         -0.4288791 ,  0.26053378,  0.8079847 ,  0.31594422, -0.2237311 ,
         -0.73279786, -0.53164554, -0.16122301, -0.439185  , -0.3153363 ,
          0.44520608, -0.12606539],
        [ 0.08316143,  0.46590757, -0.9161116 ,  0.1348357 ,  0.2738989 ,
         -0.5034381 , -0.7458751 ,  0.24292582, -0.66533273, -0.26494193,
         -0.7894291 , -0.53366107, -0.7427902 , -0.5893145 , -0.12977841,
          0.15416335, -0.5589824 , -0.12246848, -0.7646969 , -0.57552123,
          0.609639  ,  0.25168657,  0.4420421 ,  0.3006329 ,  0.1336338 ,
         -0.4161391 ,  0.2659948 ,  0.32622623, -0.89028054, -0.16598842,
         -0.43042988,  0.10750517],
        [ 0.8853183 ,  0.7761351 , -0.16979846,  0.7505435 , -0.07757971,
          0.20979288, -0.46896836,  0.90036   ,  0.24685031,  0.30731228,
         -0.35900667,  0.47216895,  0.1219859 ,  0.49916005,  0.14346577,
          0.18317804,  0.23879632,  0.15713467,  0.05370775,  0.16501926,
         -0.07860194, -0.70704216,  0.5757253 ,  0.03692511, -0.80063605,
         -0.80150366,  0.82563126,  0.36449537, -0.28863332, -0.40009156,
         -0.37638128, -0.08634762],
        [ 0.17691365,  0.7731209 , -0.24397847, -0.03504561,  0.08427876,
          0.3620437 ,  0.07778749,  0.4230357 ,  0.36321795,  0.6399226 ,
         -0.6402345 , -0.6601932 , -0.3321783 , -0.09700817, -0.5160188 ,
         -0.3668873 ,  0.21101385, -0.20097207,  0.3378914 ,  0.03994144,
         -0.38846725, -0.36549777,  0.34626856, -0.66210896, -0.38858232,
         -0.04787189,  0.59563226,  0.01153943,  0.17619622,  0.03475136,
          0.17975397, -0.7316172 ],
        [-0.5896918 , -0.69673926, -0.16658142,  0.16339722, -0.35997954,
          0.09035326,  0.4403643 ,  0.0274037 , -0.39044735,  0.5788313 ,
          0.32709262, -0.50034964,  0.10176364,  0.9052467 ,  0.11608496,
          0.0009929 , -0.21892658,  0.15353635,  0.56945556,  0.35338056,
         -0.8448432 , -0.8089918 ,  0.38031456,  0.00607748,  0.7213647 ,
         -0.19779271,  0.74084616, -0.07503837, -0.5096639 , -0.4006449 ,
          0.42574587,  0.23661967],
        [ 0.44914117,  0.09146658, -0.19291708,  0.36713228,  0.63660413,
         -0.03387219, -0.5684994 ,  0.4184757 ,  0.286473  , -0.39309067,
         -0.5176487 ,  0.12226472, -0.48108882,  0.0817736 ,  0.7591667 ,
         -0.25242177,  0.27928752,  0.30189562, -0.28636947,  0.48229596,
          0.8386778 , -0.5692107 ,  0.16694966,  0.04837588,  0.620662  ,
         -0.85123384, -0.7009117 , -0.34315112,  0.4586416 , -0.3305178 ,
         -0.31478956, -0.540943  ],
        [ 0.01448971, -0.7126907 , -0.05646418, -0.43331775, -0.08311187,
          0.31162366,  0.45765948, -0.18356268,  0.09287588,  0.8599306 ,
         -0.29522023, -0.08897925,  0.95299745, -0.18773428, -0.6967796 ,
          0.6873673 , -0.26118216, -0.33228645, -0.01750341,  0.30549756,
         -0.10113747, -0.7585698 , -0.34682718, -0.5694586 ,  0.6722225 ,
          0.51821584, -0.18115014,  0.32277438,  0.10754892, -0.55047244,
         -0.4234972 , -0.63761   ],
        [ 0.07421588,  0.0770927 , -0.09053484,  0.56380147, -0.28617632,
          0.45279402,  0.5413489 , -0.4247524 ,  0.30872318,  0.5563932 ,
         -0.2689322 ,  0.2553413 , -0.5083974 , -0.26692045,  0.25261626,
          0.09349781, -0.06680705,  0.06294365, -0.5865869 , -0.6528411 ,
          0.2520154 , -0.01746221,  0.04396841, -0.49539605,  0.05730405,
          0.60130554, -0.15550315,  0.4202534 , -0.47196057, -0.33796695,
         -0.160809  , -0.19223802],
        [ 0.19221698, -0.7122129 ,  0.00916415,  0.30684134, -0.32079673,
         -0.41352704,  0.37657133, -0.48046485, -0.20697235,  0.8490956 ,
          0.3022174 , -0.0983367 , -0.16380833,  0.12009998,  0.92920095,
         -0.00369289, -0.55204576, -0.1744129 ,  0.35861006, -0.07770531,
          0.38809142,  0.18102019, -0.8304308 , -0.68958366, -0.14152655,
          0.6927414 , -0.7835251 ,  0.06037666, -0.16078824,  0.09534108,
          0.49547464,  0.5823632 ],
        [ 0.08086803,  0.42779762,  0.68717414, -0.6745722 ,  0.6709803 ,
         -0.7333385 ,  0.03460439, -0.50594515,  0.64263636,  0.7860251 ,
         -0.13286129, -0.30765218,  0.737802  ,  0.18654798, -0.33267376,
         -0.23694336, -0.07775466,  0.7228089 ,  0.2379302 , -0.3445198 ,
          0.36407503, -0.0869728 , -0.6028922 , -0.29956096, -0.30196986,
          0.6813487 , -0.06962171, -0.14921238,  0.28006944, -0.09399965,
          0.38829938, -0.59269655]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32),
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32),
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       dtype=float32),
 array([[-0.44109184,  0.40233594,  0.31347814, ...,  0.43257132,
         -0.40726706,  0.1362911 ],
        [ 0.18030576,  0.01001937, -0.20437999, ...,  0.11977557,
         -0.1844846 ,  0.4783257 ],
        [-0.37955377, -0.23515566,  0.1351382 , ..., -0.02181546,
         -0.11383068,  0.16084823],
        ...,
        [-0.3098634 , -0.00098271,  0.5589246 , ..., -0.07128085,
         -0.0654657 ,  0.51874   ],
        [ 0.125402  , -0.18787007, -0.3335165 , ..., -0.1451661 ,
         -0.4071029 ,  0.25196102],
        [ 0.309859  , -0.16921523,  0.21042474, ...,  0.14196299,
          0.05435256,  0.23928647]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32),
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       dtype=float32),
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       dtype=float32),
 array([[ 0.17635465],
        [-0.24752751],
        [ 0.13089466],
        [-0.29710108],
        [ 0.21817338],
        [ 0.19116485],
        [ 0.24208277],
        [ 0.00887713],
        [ 0.0765214 ],
        [-0.30428523],
        [-0.29984826],
        [-0.25350726],
        [-0.35382664],
        [-0.05715775],
        [-0.1048466 ],
        [ 0.40619928],
        [-0.3660218 ],
        [-0.24928911],
        [-0.28737628],
        [-0.18952872],
        [ 0.2812991 ],
        [ 0.09442949],
        [ 0.01506633],
        [-0.22204623],
        [-0.30213323],
        [ 0.07810855],
        [-0.1069704 ],
        [ 0.40871072],
        [-0.0201979 ],
        [-0.02646151],
        [-0.06174108],
        [-0.04274595]], dtype=float32),
 array([0.], dtype=float32)]

In [26]:

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
history = model.fit(x_train, y_train, batch_size=32, epochs=100, validation_data=(x_test, y_test))

Epoch 1/100
374/374 [==============================] - 1s 762us/step - loss: 2.8694 - accuracy: 0.5806 - val_loss: 1.5057 - val_accuracy: 0.7504
Epoch 2/100
374/374 [==============================] - 0s 549us/step - loss: 1.0674 - accuracy: 0.7223 - val_loss: 0.7202 - val_accuracy: 0.7906
Epoch 3/100
374/374 [==============================] - 0s 551us/step - loss: 0.6424 - accuracy: 0.7648 - val_loss: 0.5299 - val_accuracy: 0.7938
Epoch 4/100
374/374 [==============================] - 0s 552us/step - loss: 0.5305 - accuracy: 0.7811 - val_loss: 0.4737 - val_accuracy: 0.8059
Epoch 5/100
374/374 [==============================] - 0s 551us/step - loss: 0.5047 - accuracy: 0.7945 - val_loss: 0.4532 - val_accuracy: 0.8139
Epoch 6/100
374/374 [==============================] - 0s 557us/step - loss: 0.4885 - accuracy: 0.7981 - val_loss: 0.4351 - val_accuracy: 0.8252
Epoch 7/100
374/374 [==============================] - 0s 549us/step - loss: 0.4806 - accuracy: 0.8010 - val_loss: 0.4352 - val_accuracy: 0.8232
Epoch 8/100
374/374 [==============================] - 0s 547us/step - loss: 0.4784 - accuracy: 0.7976 - val_loss: 0.4354 - val_accuracy: 0.8250
Epoch 9/100
374/374 [==============================] - 0s 624us/step - loss: 0.4810 - accuracy: 0.8032 - val_loss: 0.4310 - val_accuracy: 0.8194
Epoch 10/100
374/374 [==============================] - 0s 548us/step - loss: 0.4741 - accuracy: 0.8048 - val_loss: 0.4201 - val_accuracy: 0.8252
Epoch 11/100
374/374 [==============================] - 0s 547us/step - loss: 0.4683 - accuracy: 0.7997 - val_loss: 0.4217 - val_accuracy: 0.8219
Epoch 12/100
374/374 [==============================] - 0s 550us/step - loss: 0.4681 - accuracy: 0.8040 - val_loss: 0.4241 - val_accuracy: 0.8240
Epoch 13/100
374/374 [==============================] - 0s 550us/step - loss: 0.4735 - accuracy: 0.8053 - val_loss: 0.4260 - val_accuracy: 0.8250
Epoch 14/100
374/374 [==============================] - 0s 551us/step - loss: 0.4725 - accuracy: 0.8044 - val_loss: 0.4168 - val_accuracy: 0.8255
Epoch 15/100
374/374 [==============================] - 0s 554us/step - loss: 0.4711 - accuracy: 0.8019 - val_loss: 0.4251 - val_accuracy: 0.8207
Epoch 16/100
374/374 [==============================] - 0s 553us/step - loss: 0.4712 - accuracy: 0.8038 - val_loss: 0.4195 - val_accuracy: 0.8245
Epoch 17/100
374/374 [==============================] - 0s 557us/step - loss: 0.4700 - accuracy: 0.8013 - val_loss: 0.4149 - val_accuracy: 0.8270
Epoch 18/100
374/374 [==============================] - 0s 556us/step - loss: 0.4676 - accuracy: 0.8030 - val_loss: 0.4177 - val_accuracy: 0.8219
Epoch 19/100
374/374 [==============================] - 0s 623us/step - loss: 0.4696 - accuracy: 0.7998 - val_loss: 0.4259 - val_accuracy: 0.8184
Epoch 20/100
374/374 [==============================] - 0s 567us/step - loss: 0.4691 - accuracy: 0.8016 - val_loss: 0.4200 - val_accuracy: 0.8240
Epoch 21/100
374/374 [==============================] - 0s 558us/step - loss: 0.4674 - accuracy: 0.8058 - val_loss: 0.4189 - val_accuracy: 0.8197
Epoch 22/100
374/374 [==============================] - 0s 560us/step - loss: 0.4692 - accuracy: 0.8028 - val_loss: 0.4182 - val_accuracy: 0.8260
Epoch 23/100
374/374 [==============================] - 0s 557us/step - loss: 0.4748 - accuracy: 0.8012 - val_loss: 0.4231 - val_accuracy: 0.8260
Epoch 24/100
374/374 [==============================] - 0s 557us/step - loss: 0.4669 - accuracy: 0.8055 - val_loss: 0.4193 - val_accuracy: 0.8265
Epoch 25/100
374/374 [==============================] - 0s 558us/step - loss: 0.4742 - accuracy: 0.8018 - val_loss: 0.4166 - val_accuracy: 0.8277
Epoch 26/100
374/374 [==============================] - 0s 557us/step - loss: 0.4642 - accuracy: 0.8058 - val_loss: 0.4169 - val_accuracy: 0.8257
Epoch 27/100
374/374 [==============================] - 0s 551us/step - loss: 0.4680 - accuracy: 0.8090 - val_loss: 0.4165 - val_accuracy: 0.8272
Epoch 28/100
374/374 [==============================] - 0s 551us/step - loss: 0.4749 - accuracy: 0.7971 - val_loss: 0.4206 - val_accuracy: 0.8250
Epoch 29/100
374/374 [==============================] - 0s 548us/step - loss: 0.4670 - accuracy: 0.8054 - val_loss: 0.4121 - val_accuracy: 0.8297
Epoch 30/100
374/374 [==============================] - 0s 621us/step - loss: 0.4763 - accuracy: 0.8038 - val_loss: 0.4149 - val_accuracy: 0.8287
Epoch 31/100
374/374 [==============================] - 0s 553us/step - loss: 0.4687 - accuracy: 0.8038 - val_loss: 0.4273 - val_accuracy: 0.8247
Epoch 32/100
374/374 [==============================] - 0s 551us/step - loss: 0.4692 - accuracy: 0.8043 - val_loss: 0.4200 - val_accuracy: 0.8192
Epoch 33/100
374/374 [==============================] - 0s 551us/step - loss: 0.4690 - accuracy: 0.8066 - val_loss: 0.4200 - val_accuracy: 0.8265
Epoch 34/100
374/374 [==============================] - 0s 548us/step - loss: 0.4656 - accuracy: 0.8068 - val_loss: 0.4161 - val_accuracy: 0.8250
Epoch 35/100
374/374 [==============================] - 0s 555us/step - loss: 0.4721 - accuracy: 0.7988 - val_loss: 0.4204 - val_accuracy: 0.8250
Epoch 36/100
374/374 [==============================] - 0s 558us/step - loss: 0.4699 - accuracy: 0.8002 - val_loss: 0.4211 - val_accuracy: 0.8230
Epoch 37/100
374/374 [==============================] - 0s 559us/step - loss: 0.4727 - accuracy: 0.8029 - val_loss: 0.4248 - val_accuracy: 0.8315
Epoch 38/100
374/374 [==============================] - 0s 560us/step - loss: 0.4715 - accuracy: 0.8026 - val_loss: 0.4176 - val_accuracy: 0.8247
Epoch 39/100
374/374 [==============================] - 0s 557us/step - loss: 0.4667 - accuracy: 0.8074 - val_loss: 0.4195 - val_accuracy: 0.8230
Epoch 40/100
374/374 [==============================] - 0s 551us/step - loss: 0.4699 - accuracy: 0.7999 - val_loss: 0.4180 - val_accuracy: 0.8265
Epoch 41/100
374/374 [==============================] - 0s 630us/step - loss: 0.4702 - accuracy: 0.8068 - val_loss: 0.4219 - val_accuracy: 0.8214
Epoch 42/100
374/374 [==============================] - 0s 579us/step - loss: 0.4701 - accuracy: 0.8061 - val_loss: 0.4189 - val_accuracy: 0.8245
Epoch 43/100
374/374 [==============================] - 0s 556us/step - loss: 0.4664 - accuracy: 0.8036 - val_loss: 0.4190 - val_accuracy: 0.8257
Epoch 44/100
374/374 [==============================] - 0s 553us/step - loss: 0.4644 - accuracy: 0.8053 - val_loss: 0.4174 - val_accuracy: 0.8194
Epoch 45/100
374/374 [==============================] - 0s 556us/step - loss: 0.4670 - accuracy: 0.8042 - val_loss: 0.4203 - val_accuracy: 0.8260
Epoch 46/100
374/374 [==============================] - 0s 555us/step - loss: 0.4643 - accuracy: 0.8029 - val_loss: 0.4269 - val_accuracy: 0.8280
Epoch 47/100
374/374 [==============================] - 0s 549us/step - loss: 0.4673 - accuracy: 0.8027 - val_loss: 0.4152 - val_accuracy: 0.8260
Epoch 48/100
374/374 [==============================] - 0s 550us/step - loss: 0.4702 - accuracy: 0.8070 - val_loss: 0.4216 - val_accuracy: 0.8272
Epoch 49/100
374/374 [==============================] - 0s 547us/step - loss: 0.4726 - accuracy: 0.8053 - val_loss: 0.4220 - val_accuracy: 0.8199
Epoch 50/100
374/374 [==============================] - 0s 552us/step - loss: 0.4715 - accuracy: 0.8027 - val_loss: 0.4196 - val_accuracy: 0.8250
Epoch 51/100
374/374 [==============================] - 0s 551us/step - loss: 0.4680 - accuracy: 0.8056 - val_loss: 0.4157 - val_accuracy: 0.8327
Epoch 52/100
374/374 [==============================] - 0s 622us/step - loss: 0.4684 - accuracy: 0.8027 - val_loss: 0.4201 - val_accuracy: 0.8245
Epoch 53/100
374/374 [==============================] - 0s 553us/step - loss: 0.4646 - accuracy: 0.8056 - val_loss: 0.4199 - val_accuracy: 0.8262
Epoch 54/100
374/374 [==============================] - 0s 549us/step - loss: 0.4628 - accuracy: 0.8079 - val_loss: 0.4174 - val_accuracy: 0.8265
Epoch 55/100
374/374 [==============================] - 0s 550us/step - loss: 0.4641 - accuracy: 0.8032 - val_loss: 0.4305 - val_accuracy: 0.8172
Epoch 56/100
374/374 [==============================] - 0s 553us/step - loss: 0.4693 - accuracy: 0.8086 - val_loss: 0.4223 - val_accuracy: 0.8295
Epoch 57/100
374/374 [==============================] - 0s 565us/step - loss: 0.4720 - accuracy: 0.7984 - val_loss: 0.4202 - val_accuracy: 0.8255
Epoch 58/100
374/374 [==============================] - 0s 554us/step - loss: 0.4708 - accuracy: 0.8029 - val_loss: 0.4170 - val_accuracy: 0.8245
Epoch 59/100
374/374 [==============================] - 0s 551us/step - loss: 0.4684 - accuracy: 0.8026 - val_loss: 0.4204 - val_accuracy: 0.8247
Epoch 60/100
374/374 [==============================] - 0s 553us/step - loss: 0.4683 - accuracy: 0.8091 - val_loss: 0.4253 - val_accuracy: 0.8247
Epoch 61/100
374/374 [==============================] - 0s 551us/step - loss: 0.4750 - accuracy: 0.8012 - val_loss: 0.4206 - val_accuracy: 0.8242
Epoch 62/100
374/374 [==============================] - 0s 548us/step - loss: 0.4652 - accuracy: 0.8043 - val_loss: 0.4222 - val_accuracy: 0.8192
Epoch 63/100
374/374 [==============================] - 0s 626us/step - loss: 0.4664 - accuracy: 0.8124 - val_loss: 0.4207 - val_accuracy: 0.8270
Epoch 64/100
374/374 [==============================] - 0s 558us/step - loss: 0.4679 - accuracy: 0.8068 - val_loss: 0.4143 - val_accuracy: 0.8257
Epoch 65/100
374/374 [==============================] - 0s 556us/step - loss: 0.4638 - accuracy: 0.8083 - val_loss: 0.4187 - val_accuracy: 0.8235
Epoch 66/100
374/374 [==============================] - 0s 554us/step - loss: 0.4661 - accuracy: 0.8076 - val_loss: 0.4190 - val_accuracy: 0.8204
Epoch 67/100
374/374 [==============================] - 0s 554us/step - loss: 0.4634 - accuracy: 0.8063 - val_loss: 0.4226 - val_accuracy: 0.8217
Epoch 68/100
374/374 [==============================] - 0s 551us/step - loss: 0.4682 - accuracy: 0.8053 - val_loss: 0.4166 - val_accuracy: 0.8280
Epoch 69/100
374/374 [==============================] - 0s 554us/step - loss: 0.4689 - accuracy: 0.8041 - val_loss: 0.4172 - val_accuracy: 0.8280
Epoch 70/100
374/374 [==============================] - 0s 554us/step - loss: 0.4645 - accuracy: 0.8032 - val_loss: 0.4139 - val_accuracy: 0.8265
Epoch 71/100
374/374 [==============================] - 0s 549us/step - loss: 0.4634 - accuracy: 0.8104 - val_loss: 0.4195 - val_accuracy: 0.8245
Epoch 72/100
374/374 [==============================] - 0s 554us/step - loss: 0.4709 - accuracy: 0.8020 - val_loss: 0.4174 - val_accuracy: 0.8247
Epoch 73/100
374/374 [==============================] - 0s 565us/step - loss: 0.4675 - accuracy: 0.8076 - val_loss: 0.4167 - val_accuracy: 0.8225
Epoch 74/100
374/374 [==============================] - 0s 624us/step - loss: 0.4653 - accuracy: 0.8123 - val_loss: 0.4164 - val_accuracy: 0.8235
Epoch 75/100
374/374 [==============================] - 0s 551us/step - loss: 0.4692 - accuracy: 0.8084 - val_loss: 0.4302 - val_accuracy: 0.8247
Epoch 76/100
374/374 [==============================] - 0s 551us/step - loss: 0.4630 - accuracy: 0.8099 - val_loss: 0.4147 - val_accuracy: 0.8277
Epoch 77/100
374/374 [==============================] - 0s 555us/step - loss: 0.4724 - accuracy: 0.8050 - val_loss: 0.4227 - val_accuracy: 0.8184
Epoch 78/100
374/374 [==============================] - 0s 551us/step - loss: 0.4708 - accuracy: 0.8037 - val_loss: 0.4166 - val_accuracy: 0.8252
Epoch 79/100
374/374 [==============================] - 0s 553us/step - loss: 0.4737 - accuracy: 0.8044 - val_loss: 0.4174 - val_accuracy: 0.8300
Epoch 80/100
374/374 [==============================] - 0s 550us/step - loss: 0.4686 - accuracy: 0.8055 - val_loss: 0.4195 - val_accuracy: 0.8282
Epoch 81/100
374/374 [==============================] - 0s 551us/step - loss: 0.4714 - accuracy: 0.8045 - val_loss: 0.4185 - val_accuracy: 0.8272
Epoch 82/100
374/374 [==============================] - 0s 547us/step - loss: 0.4658 - accuracy: 0.8115 - val_loss: 0.4179 - val_accuracy: 0.8250
Epoch 83/100
374/374 [==============================] - 0s 608us/step - loss: 0.4688 - accuracy: 0.8084 - val_loss: 0.4158 - val_accuracy: 0.8252
Epoch 84/100
374/374 [==============================] - 0s 555us/step - loss: 0.4683 - accuracy: 0.8058 - val_loss: 0.4137 - val_accuracy: 0.8307
Epoch 85/100
374/374 [==============================] - 0s 556us/step - loss: 0.4639 - accuracy: 0.8069 - val_loss: 0.4266 - val_accuracy: 0.8192
Epoch 86/100
374/374 [==============================] - 0s 551us/step - loss: 0.4710 - accuracy: 0.8043 - val_loss: 0.4157 - val_accuracy: 0.8242
Epoch 87/100
374/374 [==============================] - 0s 549us/step - loss: 0.4755 - accuracy: 0.8041 - val_loss: 0.4207 - val_accuracy: 0.8237
Epoch 88/100
374/374 [==============================] - 0s 552us/step - loss: 0.4720 - accuracy: 0.8034 - val_loss: 0.4153 - val_accuracy: 0.8242
Epoch 89/100
374/374 [==============================] - 0s 548us/step - loss: 0.4720 - accuracy: 0.8027 - val_loss: 0.4182 - val_accuracy: 0.8262
Epoch 90/100
374/374 [==============================] - 0s 548us/step - loss: 0.4703 - accuracy: 0.8063 - val_loss: 0.4167 - val_accuracy: 0.8237
Epoch 91/100
374/374 [==============================] - 0s 550us/step - loss: 0.4684 - accuracy: 0.8023 - val_loss: 0.4142 - val_accuracy: 0.8272
Epoch 92/100
374/374 [==============================] - 0s 554us/step - loss: 0.4683 - accuracy: 0.8023 - val_loss: 0.4210 - val_accuracy: 0.8209
Epoch 93/100
374/374 [==============================] - 0s 625us/step - loss: 0.4667 - accuracy: 0.8095 - val_loss: 0.4197 - val_accuracy: 0.8275
Epoch 94/100
374/374 [==============================] - 0s 551us/step - loss: 0.4733 - accuracy: 0.8037 - val_loss: 0.4187 - val_accuracy: 0.8240
Epoch 95/100
374/374 [==============================] - 0s 565us/step - loss: 0.4659 - accuracy: 0.8049 - val_loss: 0.4191 - val_accuracy: 0.8285
Epoch 96/100
374/374 [==============================] - 0s 546us/step - loss: 0.4727 - accuracy: 0.8038 - val_loss: 0.4221 - val_accuracy: 0.8212
Epoch 97/100
374/374 [==============================] - 0s 550us/step - loss: 0.4675 - accuracy: 0.8073 - val_loss: 0.4143 - val_accuracy: 0.8240
Epoch 98/100
374/374 [==============================] - 0s 549us/step - loss: 0.4701 - accuracy: 0.8002 - val_loss: 0.4166 - val_accuracy: 0.8235
Epoch 99/100
374/374 [==============================] - 0s 550us/step - loss: 0.4718 - accuracy: 0.8024 - val_loss: 0.4182 - val_accuracy: 0.8255
Epoch 100/100
374/374 [==============================] - 0s 550us/step - loss: 0.4647 - accuracy: 0.8053 - val_loss: 0.4235 - val_accuracy: 0.8217

In [ ]:
# Remove dropout and batch normalization, etc to check model score improvements
# Multi layer preceptron

model = Sequential()
model.add(Dense(32, activation='relu',kernel_regularizer=keras.regularizers.L2(0.03), input_dim=11, kernel_initializer='he_normal'))
model.add(Dropout(0.5))
model.add(BatchNormalization())

model.add(Dense(32, activation='relu', kernel_regularizer=keras.regularizers.L2(0.03), kernel_initializer='he_normal'))
model.add(Dropout(0.5))
model.add(BatchNormalization())

model.add(Dense(1, activation='sigmoid'))

model.summary()