In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('/Users/pawankumarkc/Documents/vscode_workspace/MLAlgo/datasets/InternetAdvertisements/ad.data')
dataset.head()

/var/folders/xf/kbnr5k6x1jdf2_jb1xc41d580000gn/T/ipykernel_1098/1448111459.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('/Users/pawankumarkc/Documents/vscode_workspace/MLAlgo/datasets/InternetAdvertisements/ad.data')

,125,125.1,1.0,1,0,0.1,0.2,0.3,0.4,0.5,...,0.1532,0.1533,0.1534,0.1535,0.1536,0.1537,0.1538,0.1539,0.1540,ad.
0,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [3]:
dataset.shape

(3278, 1559)

In [4]:
dataset.info

<bound method DataFrame.info of        125  125.1     1.0  1  0  0.1  0.2  0.3  0.4  0.5  ...  0.1532  0.1533  \
0       57    468  8.2105  1  0    0    0    0    0    0  ...       0       0
1       33    230  6.9696  1  0    0    0    0    0    0  ...       0       0
2       60    468     7.8  1  0    0    0    0    0    0  ...       0       0
3       60    468     7.8  1  0    0    0    0    0    0  ...       0       0
4       60    468     7.8  1  0    0    0    0    0    0  ...       0       0
...    ...    ...     ... .. ..  ...  ...  ...  ...  ...  ...     ...     ...
3273   170     94  0.5529  0  0    0    0    0    0    0  ...       0       0
3274   101    140  1.3861  1  0    0    0    0    0    0  ...       0       0
3275    23    120  5.2173  1  0    0    0    0    0    0  ...       0       0
3276     ?      ?       ?  1  0    0    0    0    0    0  ...       0       0
3277    40     40     1.0  1  0    0    0    0    0    0  ...       0       0

      0.1534  0.1535  0.1536  0.1537  0.1538  0.1539  0.1540     ad.
0          0       0       0       0       0       0       0     ad.
1          0       0       0       0       0       0       0     ad.
2          0       0       0       0       0       0       0     ad.
3          0       0       0       0       0       0       0     ad.
4          0       0       0       0       0       0       0     ad.
...      ...     ...     ...     ...     ...     ...     ...     ...
3273       0       0       0       0       0       0       0  nonad.
3274       0       0       0       0       0       0       0  nonad.
3275       0       0       0       0       0       0       0  nonad.
3276       0       0       0       0       0       0       0  nonad.
3277       0       0       0       0       0       0       0  nonad.

[3278 rows x 1559 columns]>

In [5]:
dataset.isnull().sum()

 125      0
 125.1    0
   1.0    0
1         0
0         0
         ..
0.1537    0
0.1538    0
0.1539    0
0.1540    0
ad.       0
Length: 1559, dtype: int64